<div class="container">
    <div class="row">
        {% for item in posts %}
        <div class="col-md-4">
            <div class="post-card">
            <div class="post-card__header" style="background-image:url({{item.thumbnail.src|resize(center)}})">
                <a href="{{item.link}}" title="View more" class="post-card__date">
                    {{item.date}}
                </a>
                </div>
                 <div class="post-card__body">
                <h3> <a href="{{item.link}}" title="View more"> {{ item.post_title}}</a></h3> 
                
                <p> {{item.post_content|slice(0, 200)}} </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
